/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/.next/
/out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#db
dev.db
db.*
dev.db-journal
prisma/*.db

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/.idea/

#react-email
.react-email/.next/*
!/qodana.sarif.json

# Cypress files
cypress/downloads

# Migrations
prisma/migrations/
!prisma/migrations/migration_lock.toml

# Local build scripts
tools.sh
tools.env.sh
